*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    /*background:linear-gradient(#edf4df -15%, #184d60) no-repeat;*/
    background:#20252d;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.container{
    width: 100%;
}
.container2{
    width:80%;
}
.navbar{
    background:url('../images/banner.png');
    background-size: 100% 500px;
    min-height: 500px;
}
.navbar-default {
border:0;
}
/*.hmbnrmintxt {
    font: 50px/1.2 'Zoho_Puvi_Bold';
    color: #fff;
}*/
.navbar-default .navbar-brand {
    font: 50px/1.2 'Zoho_Puvi_Bold';
    width:1400px;
    height:320px;
    color: #fff;
    float: left;
    text-align: center;
    padding: 140px;
}
.navbar-header a:hover{
    color:#fff;
}
a {
    color: #ffffff;
    text-decoration: none;
}
/*轮播样式*/
ul, ol { padding: 0;}
.banner { position: relative; overflow: auto; text-align: center; margin:15px auto;}
.banner li { list-style: none; }
.banner ul li { float: left; }
#b04 { width: 640px;}
#b04 .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
#b04 .dots li
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
#b04 .dots li.active
{
    background: #fff;
    opacity: 1;
}
#b04 .arrow { position: absolute; top: 200px;}
#b04 #al { left: 15px;}
#b04 #ar { right: 15px;}
/*calender*/
.calendar {
    display: none;
    width: 350px;
    padding: 10px;
    margin: 30px auto 0;
    background-color: #fafafa;
    border-radius: 6px;
}
.calendar-title {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 10px 0;
}
.calendar-title a.title {
    display: inline-block;
    font-size: 26px;
    text-indent: 10px;
}
#backToday {
    position: absolute;
    left: 70%;
    top: 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(255, 128, 142);
    font-size: 18px;
}
.calendar-title .arrow {
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
}
.calendar-title .arrow span {
    color: #ddd;
    font-size: 26px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.calendar-title .arrow span:hover {
    color: #888;
}
.calendar-title .arrow-prev {
    float: left;
}
.calendar-title .arrow-next {
    float: right;
}
.calendar-week,
.calendar-date {
    overflow: hidden;
}
.calendar-week .item,
.calendar-date .item {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.calendar-week {
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(255, 128, 142);
    font-weight: bold;
    font-size: 16px;
}
.calendar-date {}
.calendar-date .item {
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
}
.calendar-date .item:hover,
.calendar-date .item-curMonth:hover {
    background-color: #f0f0f0;
}
.calendar-date .item-curMonth {
    color: #333;
    font-weight: bold;
}
.calendar-date .item-curDay,
.calendar-date .item-curDay:hover {
    color: #fff;
    background-color: rgb(255, 128, 142);
}
.calendar-date .item-selected,
.calendar-date .item-selected:hover {
    color: rgb(255, 128, 142);
    background: #cde9d9;
}
.calendar-today {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 90px;
    height: 48px;
    padding: 6px 10px;
    background-color: rgb(255, 128, 142);
    border-radius: 5px;
}
.calendar-today .triangle {
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent rgb(255, 128, 142) transparent transparent;
}
.calendar-today p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
/*导航栏代码*/
#bg{position: fixed;
    top: 0;
    background-color: rgb(255 255 255);
    padding:20px;
    width: 100%;
    z-index: 9999;
}
#container{width:1183px;height:34px;position:relative;overflow:hidden;margin:auto;font-family:Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;}
#container li{display:block;float:left;width:195px;height:32px;line-height:32px;padding-right:2px;line-height:32px;list-style:none;}
#container li a{color:black;text-decoration:none;display:block;position:relative;width:144px;height:32px;padding-right:10px;font-size:14px;font-weight:bold;text-align:right;}
#container li a:hover,#container li a.cur{background:#118282;}
#container li a span{display:block;position:absolute;left:10px;top:0;font-weight:normal;font-size:10px;-webkit-text-size-adjust:none;opacity:0.6;filter:alpha(opacity=60);}
#buoy{position:absolute;width:133px;height:2px;background:#e9d008;bottom:0px;left:-157px;}


/*卡片式代码*/
.single-member{
    width: 280px;
    float: left;
    font-family: sans-sarif;
    margin: 30px 2.5%;
    background-color: #fff;
    text-align: center;
    position: relative;
}
.member-image img{
    max-width: 100%;
    vertical-align: middle;
}
.effect-3 h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0 0;
    text-transform: uppercase;
}
.effect-3 h5 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 15px;
    line-height: 22px;
}
.effect-3 p {font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 0 30px;
    margin-bottom: 10px;
}
.social-touch a{
    display: inline-block;
    width: 27px;
    height: 26px;
    vertical-align: middle;
    margin: 0 2px;
    opacity: 0.7;
    transition: 0.3s;
}
.social-touch a:hover{
    opacity: 1;
    transition: 0.3s;
}
.fb-touch{
    background-position: 0 0;
}
.tweet-touch{
    background-position: -35px 0;
}
.linkedin-touch{
    background-position: -71px 0;
}
.icon-colored .fb-touch{
    background-position: 0 -27px;
}
.icon-colored .tweet-touch{
    background-position: -35px -27px;
}
.icon-colored .linkedin-touch{
    background-position: -71px -27px;
}
.effect-3{
    max-height: 350px;
    min-height: 302px;
    overflow: hidden;
}
.effect-3 h3{
    padding-top: 7px;
    line-height: 33px;
}
.effect-3 .member-image{
    border-bottom: 5px solid #118282;
    transition: 0.4s;
    height: 212px;
    width: 100%;
    display: inline-block;
    float: none;
    vertical-align: middle;
    background: url('../images/replce.jpg') 5%;
}
.effect-3 .member-info{
    transition: 0.4s;
}
.effect-3 .member-image img{
    width: 100%;
    vertical-align: bottom;
}
.effect-3 .social-touch{
    background-color: #118282;
    float: left;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
    transition: 0.4s;
}
.effect-3:hover .member-image{
    border-bottom: 0;
    border-radius: 0 0 50px 50px;
    height: 81px;
    display: inline-block;
    overflow: hidden;
    width: 109px;
    transition: 0.4s;
}
.col-md-5{
    color: #ffffff;
}
.panel{
    border:0;
    background: #fff0;
}
.panel-default>.panel-heading{
    background-color: #fff0;
    width:781px;
}
.input-group-addon:last-child {
    border-left: 0;
    background: #118282;
    color: #fff;
}
.btn .btn-default .col-md-2{
    background: #118282;
    color: #fff;
}
.panel-footer {
    background-color: #f5f5f500;
}
#this_tu{
    float: right;
    width: 200px;
    height: 300px;
}
.col-md-10{
    margin-left: 263px;
}
.panel>.table-bordered, .panel>.table-responsive>.table-bordered {
    border: 0;
    color: #fff;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #118282;
    border-color: #118282;
}
#newUser,#editForm{
    color:#fff;
}
.form-control {
    display: block;
    width: 50%;
    height: 62px;
    padding: 6px 12px;
    font-size: 15px;
}
.form-horizontal .control-label {
    padding-top: 24px;
}
.form-group {
    margin-bottom: 30px;
}
.panel-body{
    color:#fff;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f0f0e1;
    opacity: 1;
}